- content_for :body_content_title do
  = @product.name
- content_for :full_size_body do
  %ol.breadcrumb
    %li= link_to t('refinery.products.products.all_products'), refinery.products_products_path
    %li.active= @product.name
  %section
    %p
      = image_fu @product.photo, nil
    = raw @product.description
= render '/refinery/content_page'
